body {
    display: flex;
    background-color: rgb(226, 178, 178);
}

#main-bar {
    flex-direction: row;
    width: 100%;
    height: 120px;
    padding: 0;
    background-color: brown;
    border-radius: 1em;
}

#main-bar #head {
    padding-left: 1em;
    color: aliceblue;
}